#!/bin/bash
export GCP_PROJECT_ID='myProject'
export GCP_PROJECT_ID_VIEW='myProjectForViews'
export GCP_SA=$(cat myServiceAccount.json)
export GCP_USER='firstname.lastname@gmail.com' 
export POC_PWD='myPassword'